@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

* {
  font-family: 'Montserrat Alternates', sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
}



.section-keyboard {
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 100%;
  align-content: center;
  justify-content: center;
}

.window {
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: #c9ccd3 solid 2px;
  padding: 10px;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 250px;
  resize: none;
  user-select: none;
}

textarea:focus{outline:none;}


.keyboard {
  background-color: #c5c9d2;
  box-shadow: 0 0 3px #2D2E32;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(62, 9.5fr);
  grid-template-rows: repeat(12, 25px);
  grid-gap: 7px;
  width: 100%;
  user-select: none;
}

.key {
  grid-column: span 4;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  padding: 7px;
  letter-spacing: 0.5px;
  color: #989899;
  background-color: #F5F5F5;
  border: 1px solid rgba(45, 46, 51, 0.7);
  border-radius: 7px;
  box-shadow: 0 0 2px rgba(45, 46, 51, 0.5);
  cursor: pointer;
  user-select: none;

}

.key:active {  
  color: #878787;
  background-color: #e4e4e4;  
}

.key-active {  
  color: #878787;
  background-color: #e4e4e4;  
}

.esc {
  grid-column: span 4;
}

.backslash,
.tab {
  grid-column: span 7;
}

.delete,
.win {
  grid-column: span 5;
}


.backspace {
  grid-column: span 10;
}

.caps,
.enter {
  grid-column: span 9;
  font-size: 14px;
}

.shift {
  grid-column: span 7;
}

.ctrl {
  grid-column: span 6;
}

.space {
  grid-column: span 25;
}



.alf {
  font-size: 6px;
  font-weight: 600;
  align-items: flex-end;
}


.esc,
.tab,
.caps,
.enter,
.shift,
.alt,
.optionRight {
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: left;
}

.delete,
.enter,
.shift,
.win,
.ctrl,
.backspace {
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

/* .sign {
  font-size: 13px;
} */


.up,
.down,
.left,
.right {
  font-size: 12px;
}


.info {
  
  text-align: center;
  font-size: 16px;
  padding-top: 30px;
  letter-spacing: 0.5px;
  color: #989899;
  cursor: pointer;
  user-select: none;
}